<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Quiz App</h1>
        <p class="lead">Test your knowledge and track your progress!</p>
        <hr class="my-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a href="{% url 'quiz:start_quiz' %}" class="btn btn-primary btn-lg btn-block">Start Quiz</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'quiz:login' %}" class="btn btn-primary btn-lg me-2">Login</a>
                    <a href="{% url 'quiz:register' %}" class="btn btn-success btn-lg">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
