/* static/css/styles.css */
body {
    background-color: #f4f6f9;
}

.navbar {
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.quiz-options .form-check {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.quiz-options .form-check:hover {
    background-color: #e9ecef;
}

.jumbotron {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.text-danger{
    color:red
}